<img src="http://imgs.imagui.com/f51d5971b4106af6233c5529f564c170/www.viniloscasa.com/14911-thickbox/vinilo-decorativo-rostro-de-mujer.jpg/150x150c/1.jpg">
<p><strong>Autor:</strong> <%= nombre %></p>